* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .card-body {
    background-image: url("../assets/orgLogo2.png");   
} */


/* .card-logo img {
    position: 'relative';
    z-index: '100';
    width: 100px;
    height: 100px;
    borderRadius: 20px !important;
} 

.card-body:hover {
    transform: scale(0.95);
}

.card-body::before {
    content: '';
    position: absolute;
    top: -70%;
    width: 100%;
    height: 100%;
    background: #087cf8;
    transform: skewY(200deg);
    transition: 0.5s linear;
    
}

.card-body::after {
    content: 'WOC';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 7em;
    color: rgba(176, 170, 170, 0.1);
}
*/

/* .card-title {
    position: 'relative',
    fontSize: '1.1em',
    fontWeight: '500',
    color: 'rgb(3, 3, 3)',
    margin: '7.5px',
} */

/* .number_of_projects {
    position: 'relative',
    fontSize: '0.9em',
    fontWeight: '400',
    color: 'rgb(0, 0, 0)',
} */

/* .view-project {
    width: '180px',
    height: '44px',
    fontWeight: '500',
    fontSize: '20px',
    marginTop: '2.5%',
    border: '2px solid #1F3E5A !important',
    background: 'transparent !important',
    borderRadius: '5px',
    color: 'black !important',
} */

/* .card-wrapper {
    width: 100%;
    min-height: 350px;
    
    max-height: auto;
    background-color: #1F3E5A;

    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 10px;

    overflow-x: scroll;
    overflow-y: hidden;
} */

.card-wrapper::-webkit-scrollbar {
    height: 0.1em;
    width: 1px;
}

.modal-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(31, 27, 27, 0.363);
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;


    z-index: 100 !important;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-project-wrapper {
    width: 100%;
    /* max-width: 600px; */
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;

    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;

    padding: 15px;
    
}

.single-project {
    width: 220px;
    height: 220px;
    border: 1px solid rgb(197, 197, 197);
    background-color:transparent;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
    flex-shrink: 0;

    background-image: url("../assets/orgLogo2.png");
    background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-project-btn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 15px;
}

@media only screen and (max-width: 625px) {
    .modal {
        width: 80%;
        height: 320px;
    }
}