* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .card-body {
    background-image: url("../assets/orgLogo2.png");   
} */



/* .card-logo img {
    position: 'relative';
    z-index: '100';
    width: 100px;
    height: 100px;
    borderRadius: 20px !important;
} */


/* .card-title {
    position: 'relative',
    fontSize: '1.1em',
    fontWeight: '500',
    color: 'rgb(3, 3, 3)',
    margin: '7.5px',
} */

/* .number_of_projects {
    position: 'relative',
    fontSize: '0.9em',
    fontWeight: '400',
    color: 'rgb(0, 0, 0)',
} */

/* .view-project {
    width: '180px',
    height: '44px',
    fontWeight: '500',
    fontSize: '20px',
    marginTop: '2.5%',
    border: '2px solid #1F3E5A !important',
    background: 'transparent !important',
    borderRadius: '5px',
    color: 'black !important',
} */

/* .card-wrapper {
    width: 100%;
    min-height: 350px;
    
    max-height: auto;
    background-color: #1F3E5A;

    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 10px;

    overflow-x: scroll;
    overflow-y: hidden;
} */

.card-wrapper::-webkit-scrollbar {
    height: 0.1em;
    width: 1px;
}