@import url('https://fonts.googleapis.com/css?family=Poppins');
::-webkit-scrollbar {
    display: none;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #012325 !important;
    font-family: Poppins !important;
}
.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    flex-wrap: wrap;
    gap: 12px;

}

.card-body {
    width: 33.33%;

}

@media (max-width: 600px) {
    .App {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;

    }

    .card-body {
        width: 50%;

    }
}

@media (max-width: 400px) {
    .App {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;

    }

    .card-body {
        width: 100%;

    }
}

:focus {
  outline: none;
  box-shadow: none;
}
* {
  box-sizing: border-box;
}

/* For timeline section */
.vertical-timeline-element-content{
  transition-duration: 200ms;
}
.vertical-timeline-element-content:hover {
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* For rewards section */

.tilt-box-wrap{
	position: relative;
	transition: all 0.6s ease-out;
	perspective: 1000px;
}
.tilt-box-wrap:hover{
	transition: all 0.3s linear;
	transform: scale(1.1);
}
.tilt-box{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: all 0.6s ease-out;
	transform:rotateX(0deg) rotateY(0deg);
	perspective: 1500px;
	transform-style: preserve-3d;
}

.t_over{
	width: 33.333%;
	height: 33.333%;
	position: absolute;
	z-index: 1;
}

.t_over:nth-child(1){ left: 0; top: 0; }
.t_over:nth-child(2){ left: 33.333%; top: 0; }
.t_over:nth-child(3){ left: 66.666%; top: 0; }
.t_over:nth-child(4){ left: 0; top: 33.333%; }
.t_over:nth-child(5){ left: 33.333%; top: 33.333%; }
.t_over:nth-child(6){ left: 66.666%; top: 33.333%; }
.t_over:nth-child(7){ left: 0; top: 66.666%; }
.t_over:nth-child(8){ left: 33.333%; top: 66.666%; }
.t_over:nth-child(9){ left: 66.666%; top: 66.666%; }
.t_over:nth-child(1):hover ~ .tilt-box{transform:rotateX(-10deg) rotateY(10deg);}
.t_over:nth-child(2):hover ~ .tilt-box{transform: rotateX(-10deg) rotateY(0deg)}
.t_over:nth-child(3):hover ~ .tilt-box{transform: rotateX(-10deg) rotateY(-10deg)}
.t_over:nth-child(4):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(10deg)}
.t_over:nth-child(5):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(0deg)}
.t_over:nth-child(6):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(-10deg)}
.t_over:nth-child(7):hover ~ .tilt-box{transform:rotateX(10deg) rotateY(10deg);}
.t_over:nth-child(8):hover ~ .tilt-box{transform: rotateX(10deg) rotateY(0deg)}
.t_over:nth-child(9):hover ~ .tilt-box{transform: rotateX(10deg) rotateY(-10deg)}

.nhome {
    overflow: hidden;
}