#faqs {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./components/Faq\ Data/faqbg.jpg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.parallax {
  position: relative;
  background: no-repeat center center scroll;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  background-image: url('../public/statisticsbg.webp')!important
}